.form-row{
    width: 100%;
    display: flex;
    gap: 2%;
}
.form-{
    padding-top: 5%;
    width: 80%;
    height: auto;
    margin: auto;
}
label{
    font-weight: bold;
}
.form-group{
    width: 100%;
    margin: 2% 0;
}
input{
    width: 100%;
    height: 40px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: 0;
    padding: 0 2%;
}
textarea{
    width: 100%;
    resize: vertical;
    border: 1px solid lightgrey;
    outline: 0;
    padding: 2%;
}
.form- button{
    width: 100px;
    height: 50px;
    border: 1px solid lightgrey;
    cursor: pointer;
    font-size: 1.1rem;
    color: grey;
    font-weight: bold;

}

.form- button:hover{
    transform: scale(1.01);
}
