.review-box{
    width: 95%;
    height: auto;
    margin: 2% auto;
    box-shadow: 0 0 4px 1px lightgrey;
    padding: 1%;
}
.review-row{
    display: flex;
    width: 100%;
    height: auto;
}
.review-image{
    width: 70px;
    height: 70px;
    background-color: gray;color: lightblue;
    border-radius: 5%;
}
.review-info{
    padding: 1% 2%;
}
.review-info small{
    font-size: x-small;
    color: grey;
}
.star{
    width: 100px;
    display: flex;
    gap: 2%;
    padding: 0;
    margin: 0;
    color: gold;
}
.review-body p{
    font-size: small;
}

.review-reply{
    padding-left: 8%;
}
.review-reply .review-row{align-items: start;}
.review-reply .review-image{
    width: 35px;
    height: 35px;
    background-color:lightgrey;
    color: teal;
}
.review-reply .review-info{
    padding: 0 1%;
}



.review-st{
    width: auto;
    height: 35px;
    display: flex;
    color: gold;
    font-size: 2.3rem;
    font-weight: bolder;
}
.review-st b{
    color: black;
}

.review-form{
    padding: 1% 2%;
}

.review-progress{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1%;
    margin: 1% 0;
}
.review-progress p{margin: 0;padding: 0;width: 15%;}
.review-progress .progress{
    width: 300px;
    height: 22px;
    border-radius: 1px;
    background-color: rgb(237, 237, 237);
    overflow: hidden;
}
.review-progress .progress-bar{
    background-color: #FACA15;
    width: 65%;
    height: 100%;
}

@media screen and (max-width:600) {
    .review-box{height: auto;}
    
}